body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.login-main-text{
    margin-top: 30%;
    padding: 60px;
    color: #fff;
    text-align: center;
}

.login-main-text h2{
    font-weight: 300;
}

.main{    
    text-align: center;
}

.center {
    margin-top: 10%;
    width: 30%;
}

.login-form{
    align-items: center;
    justify-items: center;
    display: grid;
    margin-top: 10%;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px 70px 70px;
}

.form-group{
    grid-column: 1/2;
    grid-row: 1/2;
}

.check{
    margin-top: 20%;
}

.check button{    
    background-color: black;
    color: white;
    padding: 5px 5px;
    width: 100%;
}

.suggest{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
}

.checkbox {
    margin-top: 5%;
    text-align: center;
}

.error {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        text-align: center;
        width: 30%;
        color: red;
    }

.mainPageButton{
    margin-top: 5%;

}
.green{
    color: green;
}
.red{
    color: red;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    width: 27%;
    text-decoration: solid;
}
  
a:hover, a:active {
    background-color:black;
}

.copy{
    text-align: center;
    grid-column: 1/2;
    grid-row: 4/5;
}

.copy button{    
    background-color:white !important;
    color:black;
    font-size: 1.1em;
    border-radius: 5px;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-top: 2%;
    width: 28.5%;
}