body {
    font-family: "Lato", sans-serif;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

.main{
    margin-top: 10%;
    margin-left: 40%;
    text-align: center;
}

.sidenav{
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.login-form{
    margin-top: 5%;
}

.check{
    margin-top: 5%;
}

.register-form{
    margin-top: 20%;
}

.login-main-text{
    margin-top: 30%;
    padding: 60px;
    color: #fff;
    text-align: center;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
    margin-top: 2%;
    width: 28.5%;
}

.suggested{
    background-color:white !important;
    color:black;
    text-align: center;
    margin-top: 2%;
    width: 27.4%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: 40.5%;
    margin-top: 15%;
    width: 20%;
  }

.checkbox {
    margin-top: 5%;
    text-align: center;
}

.error {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        text-align: center;
        width: 30%;
        color: red;
    }

.mainPageButton{
    margin-top: 5%;

}
.green{
    color: green;
}
.red{
    color: red;
}
a:link, a:visited {
    background-color: black;
    color: white;
    padding: 5px 5px;
    text-align: center;
    display: inline-block;
    width: 27%;
    text-decoration: solid;
    font-size: 15px;
}
  
a:hover, a:active {
    background-color:black;
}

.copy{
    text-align: center;
    margin-top: 2%;
}

.copy button{    
    background-color:white !important;
    color:black;
    width: 20%;
    border-radius: 5px;

}